.mybody {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    width: 100vw;
    background-image: url(/testephp/assets/biblio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .mycontainer {
    background-color: #fff;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
    padding: 32px;
    width: 450px;
    height: 750px;
    text-align: center;
    margin-top: 10vh;
    margin-left: 70vw;
}
  
  .myinputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.myh2{
    margin-top: 0;
    font-weight: bold;
  }
  
.inputtext,
.inputpassword {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: 16px 0;
    padding: 8px;
    width: 80%;
    height: 3vh;
  }
  
.mybutton{
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 12px 24px;
  }
  
.mybutton:hover{
    background-color: #45a049;
  }
  
  .login{
    color: #4CAF50;
    font-size: 1.5vh;
    text-decoration: none;
  }
  
  .login:hover{
    color: black;
  }
  
.mybutton{
    width: 85%;
}

.error-container{
  font-size: 1.5vh;
}